/*
    Created using PyCharm
    Author: Kamran Akram
    Email: kamranakram1000@live.com
    Date: 3/9/19
*/

// File reference: https://gist.github.com/kamii1000/24cb8624273266ea83fb5e8eea89ef8f

// Colors

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;

$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);

$blue: #3498db;
$indigo: #6610f2 !default;
$purple: #8e44ad;
$pink: #e83e8c !default;
$red: #e74c3c;
$orange: #e67e22;
$yellow: #ffc107 !default;
$green: #44bd32;
$teal: #1abc9c;
$cyan: #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
                (
                        "blue": $blue,
                        "indigo": $indigo,
                        "purple": $purple,
                        "pink": $pink,
                        "red": $red,
                        "orange": $orange,
                        "yellow": $yellow,
                        "green": $green,
                        "teal": $teal,
                        "cyan": $cyan,
                        "white": $white,
                        "gray": $gray-600,
                        "gray-dark": $gray-800,
                        "gray-100": $gray-100,
                        "gray-200": $gray-200,
                        "gray-300": $gray-300,
                        "gray-400": $gray-400,
                        "gray-500": $gray-500,
                        "gray-600": $gray-600,
                        "gray-700": $gray-700,
                        "gray-800": $gray-800,
                        "gray-900": $gray-900
                ),
                $colors
);

$primary: $cyan !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $blue !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
                (
                        "primary": $primary,
                        "secondary": $secondary,
                        "success": $success,
                        "info": $info,
                        "warning": $warning,
                        "danger": $danger,
                        "light": $light,
                        "dark": $dark
                ),
                $theme-colors
);

$theme-colors: map_merge($theme-colors, $colors);

// Override default style variables

$enable-rounded: false;
$gray-100: #f8f9fa;
$body-bg: $gray-100;
$enable-shadows: false;
$font-size-base: 0.875rem;
$border-radius: 0rem;
$border-radius-lg: .0rem;
$border-radius-sm: .0rem;
$input-btn-focus-width: .05rem;
$line-height-lg: 1.0;
$line-height-sm: 1.0;
$line-height-base: 1.3;
$spacer: 1rem;

$enable-transitions: false;
$table-cell-padding: .5rem;
$input-border-color: $gray-400;
$dropdown-link-hover-bg: $gray-200;
$dropdown-divider-bg: $gray-300;
$alert-padding-y: .5rem;
$alert-padding-x: 1rem;
$progress-bg: $gray-300;
$list-group-item-padding-y: .5rem;
$list-group-item-padding-x: 1rem;
$list-group-hover-bg: $gray-200;
$breadcrumb-padding-y: .5rem;
$sizes: (5: 5%, 10: 10%, 15: 15%, 20: 20%, 25: 25%, 30: 30%, 35: 35%, 40: 40%, 45: 45%, 50: 50%, 55:55%, 60: 60%, 65: 65%, 70:70%, 75: 75%, 80:80%, 85:85%, 90:90%, 95:95%, 100: 100%);
$spacers: (0: 0, 1: ($spacer * .25), 2: ($spacer * .5), 3: ($spacer * .75), 4: $spacer, 5: ($spacer * 1.25), 6: ($spacer * 1.5), 7: ($spacer * 1.75), 8: ($spacer * 2), 9: ($spacer * 2.25), 10: ($spacer * 2.5), 11: ($spacer * 2.75), 12: ($spacer * 3));

