<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - {{ app.title }}</title>

        <script src="{{ url_for('static', filename='app.js') }}"></script>
    {% endblock %}
</head>
<body>
<div id="body-wrapper" class="wrapper">
    {% include 'sub-templates/header.html' %}

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">

            <div id="sidebar-menu" class="col-lg-3">
                <div class="py-5"></div>
                {% include 'sub-templates/sidebar.html' %}
            </div>

            <div id="main-content" class="col-lg-9 min-vh-100">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        {% block footer %}
            <div class="container">
                <span class="m-0 float-left text-white">Copyright &copy; {{ app.title }} 2019</span>
                <span class="m-0 float-right text-white">
                    <a href="#" class="text-white">About</a>
                    <a href="#" class="text-white ml-3">Contact</a>
                </span>
            <div class="clearfix"></div>
            </div>
        {% endblock %}
        <!-- /.container -->
    </footer>
</div>

{% block javascript %}
{% endblock %}

</body>
</html>