{% extends "base.html" %}
{% block title %} Pipeline {% endblock %}
{% block content %}


    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            {{ app.title }}
        </div>
        <div class="card-body">
            <p>A set of tools for different Bioinformatics analysis.</p>

        </div>
    </div>
    <!-- /.card -->

    </div>

{% endblock %}
