{% extends "base.html" %}
{% block title %} List Analysis {% endblock %}
{% block content %}


    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            My Analysis
        </div>
        <div class="card-body">
            <table id="list_analysis" class="table table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Datetime</th>
                    <th>Input Data</th>
                    <th>Output Data</th>
                </tr>
                </thead>
                <tbody>
                {% for record in analysis %}
                    <tr class="
    {% if record.status == 2 %}
    text-success
    {% elif record.status == -1 %}
    text-danger
    {% endif %}
">
                        <td>{{ record.id }}</td>
                        <td>{{ record.type }}</td>
                        <td>
                            {% if record.status == 0 %}
                                Pending
                            {% elif record.status == 1 %}
                                In Progress
                            {% elif record.status == 2 %}
                                Completed
                            {% elif record.status == -1 %}
                                Failed
                            {% endif %}
                        </td>
                        <td data-toggle="tooltip" data-placement="top" title="{{ record.created_on }}">{{ record.created_on | time_elapsed }}</td>
                        <td>
                            <div class="card">
                                <div class="card-body bg-gray-dark">
                                    <div id="output_data" class="text-white">
                                        {{ record.input | nl2br }}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="card">
                                <div class="card-body bg-gray-dark">
                                    <div id="output_data" class="text-white">
                                        {{ record.output | nl2br }}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <!-- /.card -->

    </div>

{% endblock %}
{% block javascript %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <script>
        $(document).ready(function () {
            $('#list_analysis').DataTable({
                "scrollX": true,
                "scrollY": "500px",
                "scrollCollapse": true,
                "pageLength": 5,
                "order": [[ 0, "desc" ]]
            });
        });
    </script>
{% endblock %}