<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-primary">
    <div class="container">
        <button class="navbar-toggler d-block mr-3" type="button" id="sidebar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('default.index') }}">{{ app.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ url_for('default.index') }}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if current_user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('default.list_analysis') }}">List analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light border-cyan" href="{{ url_for('user_management.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-light border-cyan" href="{{ url_for('user_management.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light border-cyan" href="{{ url_for('user_management.register') }}">Signup</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>