<div id="sidebar">
    <div class="list-group">
        <div data-target="#side-menu-1"
             class="list-group-item list-group-item-action bg-primary text-white" data-toggle="collapse"
             data-parent="#sidebar">
            Alignment Sequence Tools
            <i class="fa fa-caret-down float-right"></i>
        </div>
        <div class="collapse {% if request.endpoint in ('alignment.probcons', 'alignment.muscle', 'alignment.mafft') %}show{% endif %}"
             id="side-menu-1">
            <a href="{{ url_for('alignment.probcons') }}"
               class="list-group-item list-group-item-action {% if request.endpoint == "alignment.probcons" %}bg-gray-200{% endif %}">PROBCONS</a>
            <a href="{{ url_for('alignment.muscle') }}"
               class="list-group-item list-group-item-action {% if request.endpoint == "alignment.muscle" %}bg-gray-200{% endif %}">MUSCLE</a>
            <a href="{{ url_for('alignment.mafft') }}"
               class="list-group-item list-group-item-action {% if request.endpoint == "alignment.mafft" %}bg-gray-200{% endif %}">MAFFT</a>
        </div>
        <div data-target="#side-menu-2"
             class="list-group-item list-group-item-action bg-primary text-white" data-toggle="collapse"
             data-parent="#sidebar">
            Phylogenetic Analysis
            <i class="fa fa-caret-down float-right"></i>
        </div>
        <div class="collapse {% if request.endpoint in ('phylogenetic.dnapars', 'phylogenetic.dnaml', 'phylogenetic.proml', 'phylogenetic.protpars') %}show{% endif %}"
             id="side-menu-2">
            <a href="{{ url_for('phylogenetic.dnapars') }}"
               class="list-group-item list-group-item-action {% if request.endpoint == "phylogenetic.dnapars" %}bg-gray-200{% endif %}"
               data-toggle="tooltip" data-placement="right" title="DNA Parsimony Program">DNAPARS (PHYLIP)</a>
            <a href="{{ url_for('phylogenetic.dnaml') }}"
               class="list-group-item list-group-item-action {% if request.endpoint == "phylogenetic.dnaml" %}bg-gray-200{% endif %}"
               data-toggle="tooltip" data-placement="right" title="DNA Maximum Likelihood program">DNAML (PHYLIP)</a>
            <a href="{{ url_for('phylogenetic.protpars') }}"
               class="list-group-item list-group-item-action {% if request.endpoint == "phylogenetic.protpars" %}bg-gray-200{% endif %}"
               data-toggle="tooltip" data-placement="right" title="Protein Sequence Parsimony Method">PROTPARS
                (PHYLIP)</a>
            <a href="{{ url_for('phylogenetic.proml') }}"
               class="list-group-item list-group-item-action {% if request.endpoint == "phylogenetic.proml" %}bg-gray-200{% endif %}"
               data-toggle="tooltip" data-placement="right" title="Protein Maximum Likelihood program">PROML
                (PHYLIP)</a>
        </div>
    </div>
</div>