/*
    Created using PyCharm
    Author: Kamran Akram
    Email: kamranakram1000@live.com
    Date: 4/9/19
*/

.pace .pace-progress {
  background: #ffffff;
}

.select2-container--default .select2-selection--single {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background-color: $white;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: $secondary;
}

.card-header[data-toggle="collapse"] {
  cursor: pointer;
}

.card-header .fa-chevron-down {
  transition: .3s transform ease-in-out;
}

.card-header:hover .fa-chevron-down {
  color: $primary;
}

.card-header.collapsed .fa-chevron-down {
  transform: rotate(90deg);
}

#output_data {
  white-space: pre;
}