{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form id="login-form" method="POST" action="{{ url_for('user_management.login') }}">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Enter email"
                           value="{{ email }}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-check">
                    <input name="remember_me" type="checkbox" class="form-check-input" id="remember_me" value="1">
                    <label class="form-check-label" for="remember_me">Remember me</label>
                </div>
                <input type="hidden" name="referrer" value="{{ request.referrer }}">
                <div class="form-group" id="form-alerts">
                    {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>
    </div>


{% endblock %}
