{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Register
        </div>
        <div class="card-body">
            <form id="registration-form" method="POST" action="{{ url_for('user_management.register') }}">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="first_name">First name</label>
                        <input name="first_name" type="text" class="form-control" id="first_name"
                               placeholder="First name" value="{{ first_name }}">
                    </div>
                    <div class="form-group col-6">
                        <label for="last_name">Last name</label>
                        <input name="last_name" type="text" class="form-control" id="last_name" placeholder="Last name"
                               value="{{ last_name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Enter email"
                           value="{{ email }}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm password</label>
                    <input name="confirm_password" type="password" class="form-control" id="confirm_password"
                           placeholder="Password">
                </div>
                <div class="form-group" id="form-alerts">
                    {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#registration-form').submit(function (e) {
                if ($('#password').val().length < 6) {
                    e.preventDefault();
                    $('#form-alerts').html('<div class="alert alert-danger" role="alert">\n' +
                        '  Password must have at least 6 characters.\n' +
                        '</div>');
                } else {
                    if ($('#password').val() !== $('#confirm_password').val()) {
                        e.preventDefault();
                        $('#form-alerts').html('<div class="alert alert-danger" role="alert">\n' +
                            '  Passwords do not match.\n' +
                            '</div>');
                    }
                }
            });
        });
    </script>
{% endblock %}
