{% extends "base.html" %}
{% block title %} DNAML (PHYLIP) {% endblock %}
{% block content %}


    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            DNAML (PHYLIP)
        </div>
        <div class="card-body">
            <p>
                DNAML estimates phylogenies from nucleotide sequences by maximum likelihood. The model employed allows
                for unequal expected frequencies of the four nucleotides, for unequal rates of transitions and
                transversions, and for different (prespecified) rates of change in different categories of sites, and
                also use of a Hidden Markov model of rates, with the program inferring which sites have which rates.
                This also allows gamma-distribution and gamma-plus-invariant sites distributions of rates across sites.
                <a href="http://evolution.genetics.washington.edu/phylip/doc/dnaml.html" target="_blank">More info</a>

            </p>

            <form>
                <div class="form-group">
                    <label for="">Input Data</label>
                    <textarea class="form-control" id="input_data" rows="6"></textarea>

                    <div class="row py-2">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="btn btn-secondary" id="load_example_data">Load
                                    example data
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="input_file">
                                    <label class="custom-file-label" for="input_file">Input from file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                        <div id="configuration_detail" class="card">
                            <div class="card-header collapsed" data-target="#configuration_detail_body"
                                 data-toggle="collapse">
                                Settings for this run
                                <a class="d-block float-right">
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                            </div>
                            <div class="collapse" id="configuration_detail_body">
                                <div class="card-body bg-light">
                                    <table class="table table-sm">
                                        <tbody>
                                        <tr>
                                            <td>Search for best tree?</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Transition/transversion ratio?</td>
                                            <td>2.0000</td>
                                        </tr>
                                        <tr>
                                            <td>Use empirical base frequencies?</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>One category of sites?</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Rate variation among sites?</td>
                                            <td>constant rate</td>
                                        </tr>
                                        <tr>
                                            <td>Sites weighted?</td>
                                            <td>No</td>
                                        </tr>
                                        <tr>
                                            <td>Speedier but rougher analysis?</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Global rearrangements?</td>
                                            <td>No</td>
                                        </tr>
                                        <tr>
                                            <td>Randomize input order of sequences?</td>
                                            <td>No. Use input order</td>
                                        </tr>
                                        <tr>
                                            <td>Outgroup root?</td>
                                            <td>No, use as outgroup species 1</td>
                                        </tr>
                                        <tr>
                                            <td>Analyze multiple data sets?</td>
                                            <td>No</td>
                                        </tr>
                                        <tr>
                                            <td>Input sequences interleaved?</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Terminal type (IBM PC, ANSI, none)?</td>
                                            <td>ANSI</td>
                                        </tr>
                                        <tr>
                                            <td>Print out tree?</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Print out tree file?</td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td>Reconstruct hypothetical sequences?</td>
                                            <td>No</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="btn btn-primary" id="run_analysis"><i class="fas fa-play"></i> Run</div>
            </form>
            <br>
            <div id="output_data_card" class="card d-none">
                <div class="card-header">
                    Output Data
                    <button id="output_copy_to_clipboard" type="button"
                            class="btn btn-outline-primary btn-sm float-right"
                            data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
                        Copy
                    </button>
                </div>
                <div class="card-body bg-gray-dark">
                    <code id="output_data" class="text-white">

                    </code>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#load_example_data').click(function () {
                let example_data = "   5   13\n" +
                    "Alpha     AACGTGGCCAAAT\n" +
                    "Beta      AAGGTCGCCAAAC\n" +
                    "Gamma     CATTTCGTCACAA\n" +
                    "Delta     GGTATTTCGGCCT\n" +
                    "Epsilon   GGGATCTCGGCCC";
                $('#input_data').val(example_data);
            });
            $('#input_file').on('change', function () {
                let file = document.getElementById("input_file").files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.readAsText(file, "UTF-8");
                    reader.onload = function (evt) {
                        $('#input_data').val(evt.target.result);
                    }
                    reader.onerror = function (evt) {
                        alert("Error in reading file.");
                    }
                    $('#input_file').val('');
                }
            });
            $('#run_analysis').click(function () {
                $('#output_data_card').addClass('d-none');
                let input_data = $('#input_data').val();
                $.ajax({
                    url: "{{ url_for('phylogenetic.dnaml_analysis') }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        input_data: input_data
                    },
                    success: function (result) {
                        if (result.status === true) {
                            var output_data = "<h3>Output Data</h3>";
                            output_data += nl2br(result.output_data);
                            output_data += "<br><br><h3>Output Tree</h3>";
                            output_data += result.output_tree;
                            $('#output_data').html(output_data);
                            $('#output_data_card').removeClass('d-none');
                            document.getElementById('output_data_card').scrollIntoView();
                        } else {
                            alert("An error occurred");
                        }
                    },
                    error: function (xhr) {
                        alert("An error occurred");
                    }
                });
            });

        });
    </script>

{% endblock %}
